
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgb(58, 231, 58);
    color: white;
    width: 100%;
  }
  .header > * {
    margin: 10px;
  }
  .desc {
    padding: 15px;
    max-width: 800px;
    text-align: center;
  }
.btn {
  border: none;
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.863);
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}
.btn:hover {
  background-color: green;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.desc b {
  color: rgba(0, 128, 0, 0.447);
  font-weight: light;
}
.descp {
  margin: 0;
  color: green;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
  .card {
    position: relative;
    background-color: white;
    width: 250px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card_image {
    width: 100%;
  }

  .card_desc {
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: center;
  }
  .open {
    margin-top: 50px;
    border: 2px dotted rgba(0, 128, 0, 0.264);
    width: 500px;
  }

  @media (max-width: 1200px) {
    .grid{grid-template-columns: auto auto;}
  }
  @media (max-width: 600px) {
    .grid{grid-template-columns: auto;}
  }